@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@100;300;400;500;600&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    
}
  .homepage {
    
    color:rgb(255, 0, 34);
    
}

/* .hp-avt {
    height: 1000px;
    width: 1850px;
    
    
} */

.shop-name {
    font-size: 40px;
    font-weight: bolder;
    padding-left: 30%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: -100px;
    color: rgb(17, 4, 4);
    font-family: Rubik Bubbles;
 }   
    

.mecha {
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    margin-right: 140px;
    margin-left: 63px;
}
.mecha-fig {
    height: 500px;
    width: 600px;
}

.mecha-description {
    line-height: 40px;
    color:rgb(255, 0, 34);
    
}

.type-figure {
    font-weight: bolder;
    font-size: 30px;
}

.type-info {
    margin-left: 24px;
    width: 570px;
    font-weight: 400;
    font-size: 15px;
}

.btn-info {
    margin-top: 15px;
    width: 200px;
    padding: 12px;
    color: white;
    background-color: rgb(236, 163, 73);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 8px;
}
.btn-info:hover {
    transform: scale(1.25);
}
.anime {
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    margin-right: 140px;
    /* margin-left: 140px; */
    margin-left: -18px;
}
.anime-description {
    line-height: 40px;
    color:rgb(255, 0, 34) ;
    margin-right: 150px;
}
.anime-fig {
    height: 600px;
    width: 700px;
}
.name-collect {
    font-size: 20px;
}

.name-desc {
    display: flex;
    align-items: center;
    background-color: #000000;
    color: #ff0022;
    flex-direction: column;
    font-size: 7.2px;
    justify-content: space-between;
    margin: 25px -53px 70px;
    padding: 20px;
    text-transform: capitalize;
 
}

.name-fig {
    font-weight: bolder;
    font-size: 40px;
    
}

.present-fig {
    margin-left: 168px;
    margin-right: 168px;
    padding-top: 20px;
}

.fig-pic {
    height: 700px;
    width: 520px;
    margin: 5px -105px;  
}

.fig-pic:hover {
    opacity: 0.8;
    
}
.btn-and-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}

.one-fig-desc{
    color: rgb(35, 118, 206);
    line-height: 30px;
    
}
.one-fig-desc:hover {
    text-decoration: underline;
}
.one-fig-name {
    font-size: 17px;
    text-align: center;
    line-height: 1.9;
    font-weight: bolder;
    font-style: normal;
    margin-left: -50px;

    
}
.atc-btn {
    width: 152px;
    height: 82px;
    margin-left: 15px;
    padding: 5px 10px;
    background-color: orange;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.atc-btn:hover {
    color: orange;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(18,18,228,1) 35%, rgba(0,212,255,1) 100%);
}

.Pre-order {
    color: #ff0022;
    display: flex;
    font-size: 7.2px;
    justify-content: space-between;
    /* margin: 25px -97px 70px;  */
    margin: 25px -53px  70px;

    text-transform: capitalize;
}

.one-fig-price {
    text-align: center;
    font-size: 19px;
    color: #FF7000;
    font-style: bold;
    line-height: 1.9;
    margin-left: -50px;
}

.thanhtoan-part {
   width: auto;
   height: 200px;
   color:black;
   border-style: solid;
   border-width: 0.5px;
   padding: 13px 20px;
   background: rgb(169, 167, 167);
   margin: 40px;
   margin-bottom: 90px;
   border-left: 10px;
   border-top: 10px;
   border-bottom: 0;
}

.icon-payment {
    font-size: 30px;
}

.ipay-name {
    font-weight: bolder;
    font-size: 30px;
}

.fig-thantoan {
    width: auto;
    height: 400px;
    align-items: center;
    background-color: #a9a7a7;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin-left: -200px;
    margin-right: -142px;
}

/* footer */

