@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/*---SlideCard.jsx----*/
/* Làm dấu chấm cho chức năng trượt qua */
.homeSlide h1{
    font-size: 45px;

}

.homeSlide ul {
    position: absolute;
    bottom: 20px;
}

.homeSlide ul li {
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    padding: 10px;
}

.homeSlide ul li button {
    background: transparent !important;
    color: transparent !important;
}

.homeSlide ul li button::before{
    font-size: 15px;
    color: #0f3460;
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
}

.homeSlide .box {
    display: flex !important;
}

.homeSlide .box .left{
    width: 70%;
}
.homeSlide .box .right{
    width: auto;  
}

.homeSlide .box img{
    /* width: 100%; */
    width: 93%;
    margin: 43px;   
    /* height: 100%; */
    height: 75%;
    /* height: 455px; */
    /* width: 1233px; */
    /* width: 1220px; */
    
}

.left h1{
    text-align: center;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    margin: 95px 35px 59px 16px; 
    border: 10px solid #15b244;
}

.left p{
    text-align: left;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    margin: 15px 35px 35px 15px; 
    line-height: 2;
}



