/*---SlideCard.jsx----*/
/* Làm dấu chấm cho chức năng trượt qua */
.homeSlide h1{
    font-size: 45px;

}

.homeSlide ul {
    position: absolute;
    bottom: 20px;
}

.homeSlide ul li {
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    padding: 10px;
}

.homeSlide ul li button {
    background: transparent !important;
    color: transparent !important;
}

.homeSlide ul li button::before{
    font-size: 15px;
    color: #0f3460;
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
}

.homeSlide .box {
    display: flex !important;
}

.homeSlide .box .right{
    width: auto;
}

.homeSlide .box img{
    /* width: 100%; */
    /* width: 93%; */
    margin: 48px;   
    /* height: 100%; */
    /* height: 75%; */
    height: 455px;
    width: 1233px;
    
    
}



