.container {
    /* max-width: 90%; */
    max-width: 100%;
    min-width: 100%;
    /* chỉnh khoảng cách trên dưới trong "container" */
    /* margin: 45px; */
    margin: 25px 100px 75px 100px;    
    /* margin: 16px; */
    /* position: relative; */
    /* width: 100%;
    height: 100%; */ 
 }


input, button {
    /* border: none; */
    outline: none;
    background-color: none;
}
.contentWidth{
    width: 77%;
}

/*--------btn-primary trong SlideCard.jsx-------------*/
.btn-primary {
    background-color: #e94560;
    padding: 13px 40px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
  }
  
  .top {
    margin-top: 129px;
  }
  

  /*--------btn-primary trong SlideCard.jsx-------------*/

  /*------------page---------------*/
.page {
  width: auto;
  height: 150px;
  margin-left: -90px;
  margin-right: 62px; 
  display: flex;
  justify-content: center;
}

  /*------------login and register---------------*/
  .login-page {
    width: 100%;
    height: 30%;
    display: flex;
    /* margin: 128px 116px; */
    margin: 20px 0px;
    justify-content: center;   
}

.cover {
  background-color: white;
  width: 30%;
  /* height: 70%; */
  height: 50%;
  position: relative;
  /* border-radius: 1em; */
  border-radius: 8px;
  box-shadow: 0 0.188em 1.550em rgb(21, 13, 13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
  padding: 250px 0;
}


