
/* Font google cua open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.15;
    color: #111;
}

#wrapper{
    max-width: 1170px;
    margin:0 auto;
}


.headline{
    text-align: center;
    margin: 40px 0px;
}
/* Style cho dong h3(tieu de) */
h3{
    font-size: 18px;
    color: #111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;
    font-weight: 600;        
}
/* Cach tao san pham hien tren cung 1 hang */
ul.products{
    /* bo dau cham */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}   

ul.products li{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

ul.products li img{
    max-width: 100%;
    height: auto;
}

ul.products li .product-top{
    position: relative;
    overflow: hidden;

}
/* Hien thi khong gian bao phu(Chinh khoang cach cho chu "mua ngay" vs ảnh) cho phan cha*/
ul.products li .product-top .product-thumb{
    display: block;
}
/* Tac dong den khi tao trong suot xong cho background khi dua chuot vao */

ul.products li:hover .product-top .product-thumb img{
    filter: opacity(80%);
}

/* Chinh khoang cach cho chu "mua ngay" vs ảnh */
ul.products li .product-top .product-thumb img{
    display: block;
}

ul.products li .product-top a.buy-now{
    text-transform: uppercase ;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 10px 0px ;
    position: absolute;
    width: 100%;
    bottom: -36px;
    transition: 0.25s ease-in-out;

    /* tao trong suot cho background khi dua chuot vao */
    opacity: 0.85s;
}

/* khi di chuyen chuot vao thi xuat hien chu buy-now */
ul.products li:hover a.buy-now{
    bottom: 0px;
}

ul.products li .product-info{
    padding: 10px 0px;
}

ul.products li .product-info a{
    display: block;
    text-decoration: none;
}

/* ul.products li .product-info a .product-cat(category){} */
    
ul.products li .product-info a.product-cat{
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3px 0px;
}
 
ul.products li .product-info a.product-name{
    color: #334862;
    padding: 3px 0px;
}

ul.products li .product-info .product-price{
    color: #111;
    padding: 2px 0px;
    font-weight: 600;
}



