.footer {
    font-size: 15px;
    position: absolute;
    height: 200px;
    margin-top: 6557px;
}

.follow-container {
    /* width: 1668px; */
    /* width: auto;
    height: 15px; */
    width: auto;
    height:300px;
    margin-left: -188px;
    margin-right: -172px;
}
.follow-shop{
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    color: red;
   
}
.footer-info {
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: orange;
    background-color: black;
    padding: 130px 200px 100px 200px;
    
}

.intro-name {
    font-weight: bolder;
    line-height: 2;
    font-size: 19px;
    margin-left: 29px;
    margin-right: 50px;
}
.intro-tat {
    font-weight: bold;
}
.intro-desc {
    margin-left: 29px;
    margin-right: 50px;
    font-size: 19px
}
.phone-contact {
    font-size: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.info-shop {
    margin-left: 50px;
}

.icon-phone {
    font-size: 20px;
}
.icon-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.icon-phone:hover {
    background-color: orange;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}
.my-shop-name {
    color: orange;
    background-color: black;
    display: flex;
    justify-content: center;
    font-size: 15px;
}