@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

.container {
    height: fit-content;
    margin-left: 70px;
    margin-top: 110px;
    letter-spacing: 3px; 
}

.intro-avt {
    width: 1688px;
    height: 700px;
}

.part {
    width: 1400px;
    /* height: 1890px; */
    margin-left: 125px;
    line-height: 10px;  
}

.intro-tit {
    width: 1700px;
    text-align: center;
    font-size: 35px;
    font-family: Rubik Bubbles;
    margin-top: 60px;
    background-color: white;
}

.quest {
    width: 1700px;
    margin-left: 80px;
    line-height: 65px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: orange; 
}

.text-desc {
    margin-left: 96px;
    font-size: 18px;
    line-height: 31px;
    margin-top: 20px;
}
.text-desc2{
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 30px;
   line-height: 40px;
   color: rgb(213, 168, 20);
}
.pic-desc {
    width: 1500px;
    margin-left: 150px;
    font-size: 18px;
    margin: 25px 476px;
    color: rgb(112, 123, 223);
}

.pic-desc-1{
    width: 1500px;
    margin-left: 150px;
    font-size: 18px;
    margin: 25px 383px;
    color: rgb(112, 123, 223);
}

.pic-desc-2{
    width: 1500px;
    margin-left: 150px;
    font-size: 18px;
    margin: 25px 522px;
    color: rgb(112, 123, 223);
}

.part1-pic {
    height: 500px;
    width: 750px;
    margin-top: 50px;
    margin-left: 355px;
}

.part2-pic {
    height: 800px;
    width: 750px;
    margin-top: 50px;
    margin-left: 355px;
}

.part3-pic {
    margin-top: 50px;
    margin-left: 470px;
}